* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.animated-title {
    font-size: 5em;
    position: relative;
    // animation: leftToRight;
    // animation-duration: 1s;
    // animation-fill-mode: forwards;
}

.top {
    width: fit-content;
    border-bottom: 10px #000 solid;
    height: 110px;
    overflow-y: hidden;

    .first-line, 
    .second-line {
        position: relative;
        top: 55px;
    }

    .first-line {
        animation: uncoverFirstLine;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(1,-0.14, 0.36, 1)
    }

    .second-line {
        animation: uncoverSecondLine;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(1,-0.14, 0.36, 1)
    }
}

@keyframes leftToRight {
    0% {
        left: -1000px;
    }
    100% {
        left :0;
    }
}

@keyframes uncoverFirstLine {
    0% {
        top: 110px;
    }
    50% {
        top: 55px;
    }
    100% {
        top: 0;
    }
}

@keyframes uncoverSecondLine {
    0% {
        top: 110px;
    }
    100% {
        top: 0;
    }
}

@media screen and (min-width:480px) {
    .top {
        height: 135px;

        .first-line, 
        .second-line {
            position: relative;
            top: 145px;
        }
    }


    @keyframes uncoverFirstLine {
        0% {
            top: 140px;
        }
        50% {
            top: 70px;
        }
        100% {
            top: 0;
        }
    }
    
    @keyframes uncoverSecondLine {
        0% {
            top: 140px;
        }
        100% {
            top: 0;
        }
    }
}

@media screen and (min-width:1024px) {
    .top {
        height: 220px;

        .first-line, 
        .second-line {
            position: relative;
            top: 220px;
        }
    }


    @keyframes uncoverFirstLine {
        0% {
            top: 220px;
        }
        50% {
            top: 110px;
        }
        100% {
            top: 0;
        }
    }
    
    @keyframes uncoverSecondLine {
        0% {
            top: 220px;
        }
        100% {
            top: 0;
        }
    }
}

.bottom {
    height: 60px;
    overflow-y: hidden;

    .list-wrapper {
        position: relative;
        top: -240px;
        animation: uncoverListItems;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);

        .list-title {
            animation: carousel;
            animation-delay: 4s;
            animation-iteration-count: infinite;
            animation-duration: 7s;
            animation-timing-function:cubic-bezier(0.55, 0.09, 0.55, 0.96);

            li {
                height: 60px;
            }
        }
    }

}


@keyframes uncoverListItems {
    0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(60px);
	}
}

@keyframes carousel {
    0%, 20%{
		transform: translateY(0);
	}
	25%, 50%{
		transform: translateY(60px);
	}
	55%, 75% {
		transform: translateY(120px);
	}
    80%, 100% {
		transform: translateY(180px);
	}
}